*{
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    list-style: none;
    background-color: #1f2937;
    padding: 16px;
    justify-content: space-around;
}


.header-logo {
    color: white;

}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    text-align: start;
    flex: 1 1 auto;

}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    margin: 32px 75px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    text-align: start;
    margin: 0;
    padding 0;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
}


a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

button {
    color: white;
    background-color: #3882f6;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;

}

.button-1 {
    width: 75px;
    padding: 5px 15px;
    margin-top: 8px;
}
.button-2 {
    border:solid 2px white;
}


.section-2 {

}

.section-2-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0;
    padding: 0;

}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

}

.img1, .img2, .img3, .img4 {
    display: flex;
    margin: 16px 16px 5px 16px;
    border: solid 2px #3882f6;
    border-radius: 5px;
    text-align: center;
    flex-shrink: 0;
}

.image-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text1, .text2, .text3, .text4 {
    margin: 5px 16px 64px 16px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    color: #1F2937;
}

.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;

}

.quote {
    width: 600px;
    font-size: 36px;
    font-family: cursive;
    color: #1f2937;
    padding-top: 64px;
    padding-bottom: 64px;
}

.quoter {
    font-weight: bold;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    border-radius: 5px;
    color:#E5E7EB;


}


.section-4-text {
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 24px 64px;
    margin-right: -150px;
    padding-right: 200px;
}

.section-4-title {
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #1f2937;
    color: #E5E7EB;
    padding-top: 24px;
    padding-bottom: 24px;
}